#top {
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#link {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#author {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    text-align: left;
    margin-left: 215px;
    margin-bottom: 20px;
    font-size: 20px;
}

#topic {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px 0 0 0;
}

#main {
    background-color: white;
    width: 1500px;
    margin: auto;
    text-align: center;
    border-radius: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#img1 {
    width: 1000px;
    padding-bottom: 50px;

}

#sec{
    text-align: center;
}

.para {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding: 0 200px;
}

.headings {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding: 0 200px;
}


body {
    background-color: #52a7c9;
}