* {
    margin: 0;
    border: 0;
}

body {
    display: flex;
    align-items: center;
    height: 95vh;
    justify-content: center;
    
}

.loader {
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    animation: sq 3s infinite linear;
    
}

.square {
    width: 50px;
    height: 50px;
    background-color: rgb(125, 225, 232);
    border: 2px solid rgb(6, 6, 6);

    transition: .5ms;
    animation: rotate 1s infinite linear;

}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    50% {
        transform:rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes sq {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-300px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0px);
    }

}